.wrap {width:94%; margin:30px auto;}
.wrap h2 {
	text-align:center;
	line-height:1.2;
	font-size:3.6em; 
	font-family: 'Mukta', sans-serif; 
	color:#222;
}
.wrap h2 span {color:#547DBF;}
.wrap .sub {text-align:center; color:#999; font-size:13px;}
.wrap h3 {
	margin-top:20px;
	font-size:2em; 
	font-family: 'Mukta', sans-serif; 
	color:#222;
}
.wrap h3 b {color:#547DBF;}
.wrap h3 span {color:#aaa;}

.wall {margin-top:5px;}
.wall a {text-decoration:none !important; color:#777;}
.wall-item p {font-size:13px !important;}
.page {font-size:15px;}
.page a {
	text-decoration:none !important;
	color:#777;
}


.thumbnail {
	display:block; 
	width:100%; 
	border-bottom:1px solid #eee;
}
.wrap table {width:100%; border-collapse:collapse;}
.wrap table tr th,
.wrap table tr td {padding:10px; vertical-align:middle; font-size:13px;}
.wrap table tr th {background:#547DBF; border-bottom:3px solid white; color:white; font-size:1.2em;}
.wrap table tr td {}
.wrap table tr:not(:last-of-type) td {border-bottom:1px dotted #ddd;}
.wrap a.more {font-size:15px; color:#547DBF; margin-bottom:10px;}
.wrap div#more h3 {margin-top:20px; font-size:2.2em; text-align:center; letter-spacing:-0.1em;}
.wrap div#more img {display:block; width:90% !important; margin:0 auto;}
.wrap div#more p {width:90% !important; margin:30px auto; font-size:14px; font-family: "Nanum Gothic", sans-serif;}
.wrap a.back {
	display:block;
	width:100%;
	height:40px;
	line-height:40px;
	text-align:center;
	text-decoration:none !important;
	font-size:15px;
	font-weight:bold;
	color:white;
	background:#547DBF;
	border-radius:5px;
}
